<!DOCTYPE html>
{% load staticfiles %}
<meta charset="UTF-8">
<html lang="en">

<head>
    <link href='{% static 'css/style.css' %}' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript" charset="utf-8"></script>
    <title>Min Fin</title>
</head>

<body>
<div class="text">

{% if user %}
    <a href="{% url "logout" %}">Log out</a> |
    <a href="{% url "profile" %}">Profile</a>
{% else %}
    <a href="{% url "login" %}">Log in</a>
    <a href="{% url "registration" %}">Registration</a>
{% endif %}
<hr>
<h1>Министерство Финансов РФ</h1>
<hr>

{% if user %}
{% for each in news %}
    each.
{% endfor %}

<a href="{% url "application" %}">Подать заявку</a>
{% endif %}

{% block login %}{% endblock %}

</div>
</body>
</html>