{% extends 'index.html' %}
{% block login %}
    <h1>Заявка</h1>
        <div>
            <form action="{% url 'make_application' %}" method="POST">
                {{ form }}{% csrf_token %}
                <input type="submit" class="button" value="Make application">
            </form>
        </div>
{% endblock %}