{% extends 'index.html' %}
{% block login %}
    <form action="{% url "login" %}{{ next }}" method="POST">
        {% csrf_token %}
        <label for="username">Name:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
            {% if login_error %}
                <label class="error">{{ login_error }}</label>
            {% endif %}
        <input class="button" type="submit" value="Log in">
    </form>
{% endblock %}
