{% extends 'index.html' %}
{% block login %}
    <div style="text-align: center">
        {% if profile.user.first_name %}
            <p>Name: {{ profile.user.first_name }}</p>
        {% endif %}
        {% if profile.user.last_name %}
            <p>Surname: {{ profile.user.last_name }}</p>
        {% endif %}
        {% if profile.user.email %}
            <p>E-mail: {{ profile.user.email }}</p>
        {% endif %}
    </div>
    <h3>Мои заявки:</h3>
    {% for application in applications %}
        {% ifequal application.application_author|stringformat:"s" username %}
            {{ application.text }}
            {{ application.status }}
        {% endifequal  %}
    {% endfor %}
{% endblock %}