<!DOCTYPE html>
<html>
<head>
    <style>
        .text {
            text-align: center;
        }
    </style>
</head>
<body style="font-family: Georgia">
<div class="text">

    <h1>Find cool gifts with our app!</h1>
    <hr/>

    <div style="min-height: 300px">
        {% block content %}
        {% endblock %}
    </div>

    <hr/>
    (c) Galimullin Amir, BARS Lab, 2016

</div>
</body>
</html>