{% extends "base.html" %}

{% block content %}

<h3>Hello, {{ username }}!</h3>
<a href="{% url "shop:items" %}">All items</a> |
<a href="{% url "logout" %}">Log out</a>

<h4>Favorite items:</h4>
{% if items %}

    {% for item in items %}
        <li>{{ item.name }} ({{ item.description }})</li>
    {% endfor %}

{% else %}

    You did not add any items to your list. Do it now!

{% endif %}

{% endblock %}